* {
  margin: 0;
  padding: 0;
}

:root {
  --sidebar-bg-color: #0284c7;
  --searchbar: #cbd5e1;
}

html,
body {
  height: 100%;
  width: 100%;
}

@font-face {
  font-family: roboto;
  src: url(font/roboto.ttf);
}

.main {
  display: grid;
  height: 100%;
  grid-template-columns: 1fr 3fr 2fr;
  grid-template-rows: 1fr 2fr 2fr;
  grid-template-areas:
    "sidebar header header"
    "sidebar projects announcements"
    "sidebar projects trending";
}

.sidebar {
  display: grid;
  background-color: var(--sidebar-bg-color);
  grid-area: sidebar;
  grid-template-rows: 1fr 2fr 3fr;
}

.sidebar .logo {
  display: grid;
  grid-template-rows: 40px;
  grid-template-columns: 50px 70px;
  align-items: center;
  padding: 25px 0 0 20px;
  margin: 0;
  height: 35px;
  font-family: roboto;
  font-size: 1.2rem;
  color: white;
}

.logo img {
  width: 35px;
  height: auto;
}

.sidebar .nav {
  display: grid;
  grid-template-rows: repeat(6, 30px);
  grid-template-columns: 50px 1fr;
  padding-left: 10px;
  align-items: center;
  justify-items: center;
  font-family: roboto;
  font-size: 0.9rem;
}

.nav img {
  width: 19px;
  height: auto;
}

.nav a {
  text-decoration: none;
  color: white;
  justify-self: start;
}

.sidebar .nav-bottom {
  display: grid;
  grid-template-rows: repeat(3, 30px);
  grid-template-columns: 50px 1fr;
  padding: 10px 0 0 10px;
  align-items: center;
  justify-items: center;
  font-family: roboto;
  font-weight: bold;
  font-size: 0.9rem;
}

.nav-bottom img {
  width: 19px;
  height: auto;
}

.nav-bottom a {
  text-decoration: none;
  color: white;
  justify-self: start;
}

.header {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: header;
  background-color: white;
  grid-gap: 10px;
  justify-content: space-around;
}

.header .header-first {
  display: grid;
  grid-template-columns: 35px 1fr;
  padding: 20px 0 5px 35px;
  align-items: center;
}

.header-first img {
  width: 19px;
  height: auto;
}

.header-first input[type="search"] {
  width: 80%;
  height: 20px;
  border-radius: 9px;
  border: none;
  background-color: var(--searchbar);
}

.header .header-second {
  display: grid;
  grid-template-columns: 30px 40px 100px;
  grid-template-rows: 1fr;
  padding: 20px 70px 5px 0;
  font-family: roboto;
  font-weight: bold;
  justify-content: end;
  font-size: 1rem;
  align-items: center;
}

.header-second img {
  width: 19px;
  height: auto;
}

.header .header-third {
  display: grid;
  grid-template-columns: 55px 1fr;
  grid-template-rows: 1fr;
  padding: 5px 0 5px 35px;
  align-items: center;
}

.header .header-fourth {
  display: grid;
  grid-template-columns: 70px 70px 70px;
  grid-template-rows: 1fr;
  padding: 5px 70px 5px 0;
  justify-content: end;
  gap: 30px;
}

.header-fourth button {
  border-radius: 15px;
  width: 75px;
  height: 30px;
  background-color: var(--sidebar-bg-color);
  border: none;
  color: white;
  font-family: roboto;
  font-weight: bold;
}

#right-avatar {
  width: 25px;
}

#profile-avatar {
  width: 45px;
}
#profile-name {
  display: grid;
  grid-column: 2;
  font-family: roboto;
  font-size: 1rem;
  font-weight: bold;
  gap: 3px;
}

#greetings {
  font-size: 10px;
}

.header-fourth {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5px 0 5px 50px;
  align-items: center;
}

.projects {
  grid-area: projects;
}

.announcements {
  grid-area: announcements;
}

.trending {
  grid-area: trending;
}
